body {
  font-family: "PT Sans Narrow", sans-serif !important;
  margin: 0;
  padding: 0;
}

/* /////////////////////////////////////
//
// HEADER TAGS 
//
// /////////////////////////////////////
*/
h1 {
  margin: 25px;
  color: #5fbabc;
  font-family: "Amatic SC", cursive !important;
  font-weight: 400;
  font-size: 60px;
  text-align: center;
}

p {
  font-size: 20px;
  text-align: center;
  color: black;
}

h3 {
  color: #5fbabc !important;
  font-family: "Amatic SC", cursive !important;
  font-weight: 400;
  font-size: 30px;
  text-align: center;
  margin: 0;
}

br {
  margin: 20px;
}

/* .navbar-header {
  background-color: pink;
}

.navbar-toggle {
  border: none !important;
} */

.bottomBorder {
  margin-left: 40px;
  margin-right: 40px;
  border-bottom: solid;
  border-color: #ffc9c9;
  border-width: 3px;
}

ul {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

a:visited {
  color: black;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: #ffc9c9;
}

.iconWrapper {
  display: flex;
  width: 20vw;
  border-bottom: solid;
  border-color: #ffc9c9;
  border-width: 1px;
  justify-content: center;
  align-items: center;
}

.picsWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.aboutMeTextSecondary p,
.classes p {
  font-size: 15px;
  margin-bottom: 20px;
}

.picsRow {
  height: 350px;
  width: auto;
  margin: 2vh;
}

a.fa {
  padding: 15px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  border-radius: 50%;
  color: black;
}

/* Add a hover effect if you want */
a.fa:hover {
  color: pink;
}

/* span.fa {
  background: none;
  font-size: 15px;
  color: #5fbabc;
} */

span.fa:hover {
  color: #5fbabc;
}

/* /////////////////////////////////////
//
// HOME PAGE 
//
// /////////////////////////////////////
*/
.indexContainer {
  width: auto;
  height: 100vh;
  position: relative;
  text-align: center;
}

.indexChild {
  width: 100%;
  height: 100%;
  background-image: url("../img/IndexPic.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.indexChild h1 {
  font-weight: 700;
  font-size: 10vh;
  color: white;
  margin: 0;
  padding-top: 60px;
}

.indexChild p {
  color: white;
  font-weight: 200;
  font-size: 4vh;
}

/* /////////////////////////////////////
//
// ABOUT ME PAGE 
//
// /////////////////////////////////////
*/
.aboutMeWrapper {
  display: flex;
  justify-content: center;
  padding: 0 20px;
}

.aboutMeTextSecondary {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.aboutMePicWrapper {
  min-width: 300px;
  width: 300px;
  max-height: 300px;
  margin: 0 40px;
  margin-bottom: 20px;
}

.aboutMePicWrapper img {
  width: 100%;
  height: auto;
}

.aboutMeTextSecondary p {
  margin: 20px 0;
  font-size: 16px;
}

.aboutMeText p {
  margin-bottom: 20px;
}

/* ///////////////////////////////////// 
//
// CLASSES PAGE
//
// /////////////////////////////////////
*/
.classesWrapper {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.classes {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 900px;
  padding: 0 20px;
  width: 100%;
}

.iconWrapper h3 {
  margin-left: 15px;
}

/* /////////////////////////////////////
//
// NAV CONTAINER  
//
// /////////////////////////////////////
*/
.navContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.navItem {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navItem li {
  margin: 0 12px;
}

.navItem:first-child > div {
  margin-right: auto;
  margin-left: 40px;
}

.navItem:last-child > ul {
  margin-left: auto;
  margin-right: 20px;
}

.navContainer .navItem .dot :hover {
  color: white;
}

/* .dot {
  height: 60px;
  width: 60px;
  padding: 12px;
  background-color: #ffc9c9;
  border-radius: 50%;
  display: flex;
  align-items: center;
} */

/* /////////////////////////////////////
//
// BURGER NAV STYLES
//
// /////////////////////////////////////
*/

/* Style the navigation menu */
.topnav {
  overflow: hidden;
  background-color: #ffc9c9;
  position: relative;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
  display: none;
}

/* Style navigation menu links */
.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

/* Style the hamburger menu */
.topnav a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

/* Add a grey background color on mouse-over */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the active link (or home/logo) */
.active {
  background-color: #ffc9c9;
  color: black;
}

/* ////////////////////////////////////////////
//
// MOBILE VIEW 
//
// ////////////////////////////////////////////
*/
@media only screen and (min-width: 768px) {
  .topnav {
    display: none;
  }
  .mobileOnly {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .navContainer {
    display: none;
  }
  .aboutMePicWrapper {
    display: none;
  }
}

.header-img {
  height: 100%;
}

.navbar-brand {
  padding: 4px !important;
}

.navbar-margin-bottom {
  margin-bottom: 0 !important;
}

