body {
  font-family: "Karla", sans-serif !important;
  margin: 0;
  padding: 0;
}

.pageWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #fff9f4;
}

.connectMeWrapper {
  max-width: 960px;
  width: 960px;
}

.socialsContainer {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.socialsContainer a {
  margin: 12px;
}

.navbar-toggle {
  border: none !important;
  background-color: white !important;
}

.navbar-brand {
  margin-left: 0px !important;
  padding: 10px !important;
}

.navbar-header {
  background-color: white !important;
}

.navbar-margin-bottom {
  margin-bottom: 0 !important;
}

.navbar-collapse {
  font-family: "Macondo", cursive !important;
  background-color: white !important;
  border: none !important;
}

.navbar-collapse a {
  background-color: white !important;
}

.navbar-inverse {
  background-color: white !important;
}
.icon-bar {
  background-color: black !important;
}
/* /////////////////////////////////////
//
// HEADER TAGS 
//
// /////////////////////////////////////
*/
h1 {
  margin: 25px;
  color: black !important;
  font-family: "Macondo", cursive !important;
  font-weight: 400;
  font-size: 60px !important;
  text-align: center;
}

p {
  font-size: 16px;
  text-align: center;
  color: black;
}

h3 {
  color: black !important;
  font-family: "Macondo", cursive !important;
  font-weight: 400;
  font-size: 30px;
  text-align: center;
  margin: 0;
}

br {
  margin: 20px;
}

ul {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "Macondo", cursive !important;
}

li {
  list-style-type: none;
  text-decoration: none !important;
}

a:visited {
  color: black;
}

a {
  text-decoration: none !important;
  color: black;
}

li a:hover {
  color: brown !important;
  text-decoration: none;
}

.iconWrapper {
  display: flex;
  width: 20vw;
  justify-content: center;
  align-items: center;
}

.picsWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.aboutMeTextSecondary p {
  font-size: 15px;
  margin-bottom: 20px;
}

.picsRow {
  width: 350px;
  height: auto;
  margin: 2vh;
}

a.fa {
  padding-left: 0px;
  padding-right: 30px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  border-radius: 50%;
  color: black;
}

/* Add a hover effect if you want */
a.fa:hover {
  color: brown;
}

a.fa:focus {
  color: black;
}

span.fa:hover {
  color: brown;
}

/* /////////////////////////////////////
//
// HOME PAGE 
//
// /////////////////////////////////////
*/

.indexText {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.indexText h1 {
  color: white !important;
}

/* /////////////////////////////////////
//
// HOME PAGE 
//
// /////////////////////////////////////
*/
.indexPageWrapper {
  position: relative;
  text-align: center;
  color: white;
  overflow: hidden;
}

/* /////////////////////////////////////
//
// PROJECTS PAGE 
//
// /////////////////////////////////////
*/
.ethosPageWrapper {
  max-width: 960px;
}

/* /////////////////////////////////////
//
// Journey PAGE 
//
// /////////////////////////////////////
*/
.aboutMeWrapper {
  max-width: 960px;
}

.aboutMeTextSecondary {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.aboutMePicWrapper {
  min-width: 300px;
  width: 300px;
  max-height: 300px;
  margin: 0 40px;
  margin-bottom: 20px;
}

.aboutMePicWrapper img {
  width: 100%;
  height: auto;
}

.aboutMeTextSecondary p {
  margin: 20px 0;
  font-size: 16px;
}

.aboutMeText p {
  margin-bottom: 20px;
}

/* ///////////////////////////////////// 
//
// CLASSES PAGE
//
// /////////////////////////////////////
*/
.classesWrapper {
  max-width: 960px;
}

.classes {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 900px;
  padding: 0 20px;
  width: 100%;
}

.iconWrapper h3 {
  margin-left: 15px;
}

.classTimesWrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.classTimes {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: brown 2px solid;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* /////////////////////////////////////
//
// NAV CONTAINER  
//
// /////////////////////////////////////
*/
.navContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  background-color: white;
}

.navItem {
  flex: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Macondo", cursive;
}

.left {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.right {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.right a {
  margin: 12px;
}

.navContainer li {
  margin: 0 12px;
}

.navItem:first-child > div {
  margin-right: auto;
  margin-left: 40px;
}

.navItem:last-child > ul {
  margin-left: auto;
  margin-right: 20px;
}

/* ////////////////////////////////////////////
//
// MOBILE VIEW 
//
// ////////////////////////////////////////////
*/
@media only screen and (min-width: 768px) {
  .topnav {
    display: none;
  }
  .mobileOnly {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .navContainer {
    display: none;
  }
}

@media only screen and (max-width: 900px) {
  .ethosPageWrapper {
    width: 100%;
    padding: 0 12px;
  }

  .picsWrapper {
    width: 100%;
    height: auto;
    flex-direction: column;
    display: flex;
    align-items: center;
    margin: 0;
  }
  .picsWrapper img {
    max-width: 80%;
  }
}

@media only screen and (max-width: 650px) {
  .classTimesWrapper {
    align-items: center;
    flex-direction: column;
  }

  .classTimes {
    margin: 20px 20px;
  }

  .connectMeWrapper {
    max-width: 650px;
    width: 100%;
  }
}

.header-img {
  height: 100%;
}
